<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Festmény Címe : <%= painting.title %> <br>
        Festmény Elkészítési ideje : <%= painting.year %> <br>
        Ki van-e állítva : <% if (painting.on_display == 1) { %>
            <p>
            Igen
            </p>
        <% }else{ %>
            <p>
            Nem
            </p>
        <% } %>


    </p>
</body>
</html>